asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
idna==3.10
joblib==1.4.2
numpy==2.2.4
pandas==2.2.3
py4j==0.10.9.7
pyspark==3.5.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
